<app-navbar></app-navbar>
<!-- <app-sidenav></app-sidenav> -->
<div class="body">
    <p>portfolio-home-page works!</p>
</div>
<div class="footer-container">
    <app-footer></app-footer>
</div>




<!-- <video width="320" height="240" muted loop #videoPlayer
       (mouseenter)="playVideo()" 
       (mouseleave)="pauseVideo()">
    <source src="https://i.imgur.com/8RNO4vU.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<img src="https://i.imgur.com/inqqERK.png" alt="Image Description" width="500"/> -->