<div class="about-us-container" id="aboutUsSiteSection">
    <div class="profile-pic-container">
        <img [MediaLocalize]="'Profile.Image'">
    </div>
    <h5 class="about-us-text" dictionaryLocalize="Site.AboutUs"></h5>


    <footer class="footer">
        <div class="container">
            <div class="social-icons">
                <!-- <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/+972584021098" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="mailto:email@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </div>
    </footer>
      
</div>


