@import '/src/app/styles/colors';
@import '/src/app/styles/shadows';

.navbar{
    position: sticky;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    // height: 75px;
    background-color: color(primary);
    // @include deep-shadow(color(neutrals,dark-gray));
    // color: color(secondary);
    border-bottom: 2px solid color(secondary,light);
    .title-container{
        padding-left: 16px;

        .main-title,  .secondary-title{
            color: color(secondary,base);
            width: 100%;
            text-align: start;
            font-weight: 300;
            font-size: 27px;
            margin-bottom: 0;
        }
        .secondary-title{
            font-size: 18px;
        }
    }

    .links-container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        // border-top:  1px solid color(secondary,light);
        .link{
            width: 90px;
            font-size: 13px;
            text-align: center;
            text-decoration: none;
            color:color(secondary,lighter);
            font-weight: 100;

            &.active{
                font-weight: 600;
                // border-bottom: 2px solid color(secondary,lighter);
            }
        }
    }
}