<nav class="navbar">
    <div class="title-container" [routerLink]="['/']" (click)="setSiteSection(4)">
        <h1 class="main-title" dictionaryLocalize="Site.MainTitle" ></h1>
        <h2 class="secondary-title" dictionaryLocalize="Site.SecondaryTitle"></h2>
    </div>

    <div class="links-container">
        <a class="link" [routerLink]="['/']" [ngClass]="{'active':siteSection==2}" (click)="setSiteSection(2)">Films</a>
        <a class="link" [routerLink]="['/']"  [ngClass]="{'active':siteSection==0}" (click)="setSiteSection(0)">Music Videos</a>
        <a class="link" [routerLink]="['/']"  [ngClass]="{'active':siteSection==1}" (click)="setSiteSection(1)">Commercials</a>
        <a class="link" [routerLink]="['/']"  (click)="scrollToAboutUs()">About</a>
    </div>
</nav>