<ng-container *ngIf="siteSection==4">
    <app-showreel></app-showreel>
</ng-container>
<div class="grid-container" *ngIf=" items && items.length">
    <div class="single-item-container" *ngFor="let item of items | filterBy:'type':siteSection; index as idx"
    [ngClass]="{'collapsed-cell':currentIndexInFocus!==idx}">
        <app-item-cell 
            [item]="item" [index]="idx" 
            [collapse]="currentIndexInFocus!==idx"
            (click)="setItemInFocus(idx)" >
        </app-item-cell>
    </div>
</div>