@import '/src/app/styles/colors';

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    .single-item-container{
        color: color(primary);
        cursor: pointer;
        &.collapsed-cell{
            width: 100%;
            aspect-ratio: 16/9;
        }

        &:not(.collapsed-cell){
            grid-column: 1 / -1;
        }
    }
}

@media screen and (min-width:600px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}