$colors: (
  primary: (
    base: #333,
    lighter: #cacaca,     
    light: #595959, 
    dark: #1b1b1b  
  ),
  secondary: (
    base: #007bff,  
    lighter: #d1e7ff,     
    light: #4da3ff, 
    dark: #0056b3 
  ),
  accent: (
    yellow: #ffd700, 
    pink: #ff69b4, 
    green: #3cb371
  ),
  neutrals: (
    white: #ffffff, 
    light-gray: #d3d3d3, 
    gray: #808080,
    dark-gray: #404040,
    black: #000000
  ),
  feedback: (
    success: #28a745,
    warning: #ffc107,
    error: #dc3545
  )
);


@function color($color-name, $tone: 'base') {
    @return map-get(map-get($colors, $color-name), $tone);
}
  