$colors: (
  primary: (
    base: #333,
    lighter: #cacaca,     
    light: #595959, 
    dark: #1b1b1b  
  ),
  secondary: (
    base: #007bff,  
    lighter: #d1e7ff,     
    light: #4da3ff, 
    dark: #0056b3 
  ),
  accent: (
    yellow: #ffd700, 
    pink: #ff69b4, 
    green: #3cb371
  ),
  neutrals: (
    white: #f0f2f3, 
    light-gray: #d3d3d3, 
    gray: #808080,
    dark-gray: #404040,
    black: #080808
  ),
  feedback: (
    success: #28a745,
    warning: #ffc107,
    error: #dc3545
  )
);


@function color($color-name, $tone: 'base') {
    @if map-has-key($colors, $color-name) {
      $color-map: map-get($colors, $color-name);
      @if map-has-key($color-map, $tone) {
        @return map-get($color-map, $tone);
      } @else {
        @warn "Unknown tone `#{$tone}` for `#{$color-name}`. Using base.";
        @return map-get($color-map, base);
      }
    } @else {
      @error "Unknown color `#{$color-name}`.";
    }
}
  